<% layout("../layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-6 offset-3">
    <%- include('./flash') %>

    <h1>Update Camp</h1>

    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <label class="form-label" for="title">Title</label>
      <input
        required
        class="form-control"
        type="text"
        id="title"
        value="<%= campground.title %> "
        name="title"
      />
      <br />
      <label class="form-label" for="price">Price</label>
      <input
        required
        class="form-control"
        type="text"
        id="price"
        value="<%= campground.price %>"
        name="price"
      />
      <br />
      <label class="form-label" for="location">Location</label>
      <input
        required
        class="form-control"
        type="text"
        id="title"
        value="<%= campground.location %>"
        name="location"
      />
      <br />
      <label class="form-label" for="description">Description</label>
      <textarea
        name="description"
        required
        class="form-control"
        id="title"
        cols="30"
        rows="4"
      >
<%= campground.description %> </textarea
      >

      <br />
      <button class="btn btn-primary">Update Camp</button>
    </form>
  </div>
</div>
